
.links {
  text-decoration: none;
  color: #383838;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  padding: 3% 6%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  float: left;
  width: 100%;
}

.header {
  display: inline-block;
  float: left;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
}

#header-title {
  text-decoration: none;
  color: #383838;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  float: right;
  text-align: right;
}

.site-nav ul li {
  display: inline;
  margin-right: 1em;
  vertical-align:bottom;
  
}

.icon-button {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}

.avatar {
  height: 2em;
  width: 2em;
  float: left;
  margin-top: -3px;
  border-radius: 0.2em;
  margin-right: 1em;
}

.call-out {
    padding: 5% 20%;
  display: inline-block;
  width: 100%;
  background-color: #1ABC9C;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}

body {
  color: #383838;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  word-wrap: break-word;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.footer {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.post-card {
    padding: 5% 20%;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: cover;
    border-bottom: 1px solid #fff;
    
}

.post-card h1 {
  margin: 0;
}

.post-card .meta {
  color: rgba(56,56,56,0.5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

.post-card p{
  color: #383838;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    word-wrap: break-word;
}

.meta {
  color: rgba(#383838, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
  color: #1ABC9C;
    text-decoration: none;
}

button {
  all: unset;
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
  color: #1ABC9C;
    text-decoration: none;
}

button:hover {
  background-color: #1ABC9C;  
    border: 1px solid #1ABC9C;
    color: #fff;
    text-decoration: none;
}