* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.postlist {
    width: 40%;
    margin: auto;
    text-align: center;
}

.post {
    width: 40%;
    margin: auto;
}

.page-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.notfound {
    text-align: center;
}